.header__container {
    background-color: beige;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__container a {
    text-decoration: none;
}

.header__title {
    font-size: 80px;
    letter-spacing: -1.5px;
    margin-left: 15px;

}

.header__title--blue {
    color: blue;
    font-size: 60px;
}

.header__title--orange {
    color: orange;
    font-size: 60px;
}

.header__menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.header__menu a {
    padding: 10px;
    color: black;
    font-weight: 400px;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.header__menu a:hover {
    color: blue;
    cursor: pointer;
}

.header__checkout {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 15px 32px;
    margin-left: 10px;
    border-radius: 2px;
}

