<header class="header__container">
    <a [routerLink]="['/']">
        <h1 class="header__title">
            <span class="header__title--blue">Eletronics</span>
            <span class="header__title--orange">Store</span>
        </h1>
    </a>
    
    <div class="header__container-menu">
        <nav class="header__menu">
            <ul>
                <li><a routerLink="">Produtos</a></li>
                <li><a routerLink="/contact">Contato</a></li>
                <li><a routerLink=""></a><i class="fa-brands fa-facebook-f"></i></li>
                <li><a routerLink=""></a><i class="fa-brands fa-instagram"></i></li>
                <li><a routerLink=""></a><i class="fa-brands fa-twitter"></i></li>
                <li><a routerLink=""></a><i class="fa-brands fa-linkedin-in"></i></li>
                <div class="header__checkout">
                    <li><a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i>Checkout</a></li>
                </div>
            </ul>
        </nav>
        <form class="search-form">
            <input type="text" name="descricao">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div> 
</header>
