.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card img {
    width: 70%;
}

.card {
    margin: 25px 10px 25px 10px;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    width: 240px;
    height: 340px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card:hover {
    outline: 1px solid lightgray;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.nome {
    font-size: 20px;
    color: blue;
}

.descricao {
    font-size: 15px;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 40px;
    margin: 5px;
}

.preco {
    font-size: 25px;
    font-weight: bold;
    color: orange;
}

.botao-comprar {
    margin: 5px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
    width: 110px;
}

.botao-comprar:hover {
    filter: brightness(1.1);
}

.botao-compartilhar {
    margin: 5px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
    width: 110px;
}

.botao-compartilhar:hover {
    filter: brightness(1.1);
}