<section class="product-list" *ngFor="let product of products">
    <div class="product-list__card">
        <a class="product-list__link" [routerLink]="['/products', product.id]">
            <img [src]="product.imagem" alt="">
            <h2 class="product-item__name">
               <a [title]="product.name + 'details' ">
                {{ product.name }}
               </a> 
            </h2>
            <p class="product-item__price">
                {{ product.price | currency: "BRL" }}
            </p>
            <div class="product-item__description" *ngIf="product.description">
                <p>{{ product.description }}</p>
            </div>
            <button class="product-item__buy-button" type="button">Comprar</button>
        </a>
        
        <button class="product-item__share-button" type="button" (click)="share()">Compartilhar</button>
    </div>
</section>
