<section class="container">
    <div *ngFor="let product of products">
        <div class="card">
                <a class="" [routerLink]="['/products', product.id]">
                    <img [src]="product.imagem" alt="">
                    <h2 class="nome">
                        <a [title]="product.name + 'details' ">{{ product.name }}</a> 
                    </h2>
                    <p class="preco">{{ product.price | currency: "BRL" }}</p>
                        <div class="descricao" *ngIf="product.description">
                            <p>{{ product.description }}</p>
                        </div>
                    <button class="botao-comprar" type="button">Comprar</button>
                </a>
            <button class="botao-compartilhar" type="button" (click)="share()">Compartilhar</button>
        </div>
    </div>
</section>
