<h2 class="cart-title">Carrinho</h2>


<p class="shipping-prices">
    <a routerLink="/shipping">Shipping Prices</a>
</p>
<div class="cart-container" *ngFor="let item of items">
    <ul>
        <li>
            <img [src]="item.imagem" alt="">
            <p>{{ item.name }}</p>
            <p>{{ item.price | currency:"BRL" }}</p>
            
            <button class="remove-button" (click)="removeProductCart(item.id)">Remover item</button>
        </li>
    </ul>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div class="label-nome">
        <label for="name">Nome</label>
        <input id="name" type="text" formControlName = 'name'>
    </div>

    <div class="label-endereco">
        <label for="address">Endereço</label>
        <input id="address" type="text" formControlName = 'address'>
    </div>
    
    <button class="buy-button" type="submit">Comprar</button>

</form>